form action="/article/#{@id}/edit" method="post"
    input name="title" value="#{@result['title']}" type="text"
    input name="body" value="#{@result['body']}" type="text"
    input type="submit" value="Edit article"
